<footer class="bg-light py-3">
  <div class="container">
    <p class="text-center text-muted">Copyright &copy; <%= Time.now.year %> Selma Belhadj</p>
    <div class="d-flex justify-content-center">
        <%= link_to "Home", root_path, class: "text-muted mx-3" %>
        <%= link_to "About", about_path, class: "text-muted mx-3" %>
    </div>
  </div>
</footer>
