<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to our revolutionary template application!</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card my-3 text-center">
            <div class="card-body">
                <p class="lead">Our app is designed to help developers like you quickly and easily implement the latest features and functionality in their projects. Whether you're just getting started or looking to take your skills to the next level, our template has everything you need to succeed.</p>
            </div>
        </div>
    </div>
   </div>
  <hr class="my-2">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card my-3 text-center">
            <div class="card-body">
                <p class="lead">Ready to get started? Browse our features and sign up for a free trial today.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    </div>
   </div>
</div>
