<div class="container">
  <h1 class="text-center my-5">About Us</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card my-3 text-center">
            <div class="card-body">
                <p class="lead">This application is designed to showcase the functionality and features of a basic "About" view in a Ruby on Rails application. It serves as a template and starting point for developers looking to implement similar functionality in their own projects.</p>
            </div>
        </div>
        <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Application Information</h5>
          <ul class="list-group">
            <li class="list-group-item">Version: 1.0</li>
            <li class="list-group-item">Developed by: Selma Belhadj</li>
            <li class="list-group-item">Built with: Ruby on Rails</li>
          </ul>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Support and Feedback</h5>
          <p class="card-text">Contact us at <a href="mailto:belhadjselma1@gmail.com">belhadjselma1@gmail.com</a> for support or feedback.</p>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Source Code</h5>
          <p class="card-text">Source code available at <a href="https://github.com/selma-belhadj/rails-template-app.git" target="_blank">Selma's Github Profile</a>.</p>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Third-party Libraries</h5>
          <p class="card-text">Third-party libraries used: Bootstrap</p>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">License</h5>
          <p class="card-text">This application is licensed under MIT</p>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Future Features</h5>
          <p class="card-text">Future features: Users Authentication</p>
        </div>
      </div>
    </div>
  </div>
</div>
